html {
    overflow-x: hidden;
}

body, div, ul, li, img {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

body {
    background-color: #CCCCFF;
}

li {
    list-style: none;
}

img {
    display: none;
    float: left;
    width: 30px;
    height: 10px;
}

.content {
    position: relative;
    height: 690px;
    margin-top: 50px;
}

.invisible {
    position: absolute;
    width: 1858px;
    height: 690px;
    top: 0;
    left: 0;
}

.invisibleSlick {
    cursor: pointer;
}

.forSlide {
    width: 1858px;
    height: 690px;
    display: inline;
    position: absolute;
}

span.moveRight::before {
    content: '〈';
}

span.moveRight {
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 60px;
    z-index: 3;
    color: #3333FF;
}

span.moveLeft::after {
    content: '〉';
}

span.moveLeft {
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 60px;
    z-index: 3;
    color: #3333FF;
}

span:hover {
    color: #FF3300;
    cursor: pointer;
}

li.previous {
    position: absolute;
    left: -1858px;
    top: 0;
}

li.next {
    position: absolute;
    right: 0;
    top: 0;
}

li.current {
    position: absolute;
    left: 0;
    top: 0;
}

h1 {
    font-size: 60px;
    text-align: center;
    font-style: italic;
}

.owl-dots {
    position: absolute;
    padding: 0;
    bottom: 5%;
    left: 50%;
    z-index: 3;
}

.owl-dot::before {
    content: "#o";
}

.owl-dot {
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0 5px;
    z-index: 4;
    background-color: #3333FF;
    color: #3333FF;
    border-radius: 50%;
    cursor: pointer;
    font-size: 10px;
}

.owl-dot:hover {
    background-color: #FF3300;
    color: #FF3300;
}

.owl-dot-active {
    background-color: #FF3300;
    color: #FF3300;
}

.owl-dot-active:hover {
    color: #FF3300;
}











